<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSourceCredentials>
        <hangfire-pro>
            <add key="Username" value="Protacon" />
            <add key="ClearTextPassword" value="vFr5TWlQzFn3Li5c" />
        </hangfire-pro>
    </packageSourceCredentials>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <add key="hangfire-pro" value="https://nuget.hangfire.io/nuget/hangfire-pro/" protocolVersion="2" />
 </packageSources>
</configuration>
